@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 340 48% 99%;
		--foreground: 340 66% 1%;
		--muted: 160 8% 88%;
		--muted-foreground: 160 4% 38%;
		--popover: 340 48% 99%;
		--popover-foreground: 340 66% 1%;
		--card: 340 48% 99%;
		--card-foreground: 340 66% 1%;
		--border: 340 13% 89%;
		--input: 340 13% 89%;
		--primary: 340 77% 63%;
		--primary-foreground: 340 100% 96.71%;
		--secondary: 49.49 91.95% 70.78%;
		--secondary-foreground: 38.49 13.72% 25.71%;
		--gray: 240 4.8% 95.9%;
		--gray-foreground: 240 5.9% 10%;
		--accent: 192.68 85.54% 83.73%;
		--accent-foreground: 160 77% 3%;
		--sky: 199.13, 100%, 49.8%;
		--sky-foreground: 160 77% 3%;
		--destructive: 7 94.14% 60.63%;
		--destructive-foreground: 0 0% 100%;
		--ring: 340 77% 63%;
		--radius: 1rem;
	}

	.dark {
		--background: 340 44% 3%;
		--foreground: 340 27% 99%;
		--muted: 160 8% 12%;
		--muted-foreground: 160 4% 62%;
		--popover: 340 44% 3%;
		--popover-foreground: 340 27% 99%;
		--card: 340 44% 3%;
		--card-foreground: 340 27% 99%;
		--border: 340 13% 13%;
		--input: 340 13% 13%;
		--primary: 340 77% 63%;
		--primary-foreground: 340 77% 3%;
		--secondary: 160 77% 63%;
		--secondary-foreground: 160 77% 3%;
		--accent: 160 77% 63%;
		--accent-foreground: 160 77% 3%;
		--destructive: 7 88% 46%;
		--destructive-foreground: 0 0% 100%;
		--ring: 340 77% 63%;
	}
}



.apple-container {
	background-color: #7ABCD9;
	background-image: url('https://www.transparenttextures.com/patterns/asfalt-light.png');
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
}

.apple-list {
	list-style: none;
	padding: 0;
	margin: 0;
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	gap: 20px;
	width: 80%;
}

.apple-item {
	position: relative;
	width: 80%;
	padding-top: 100%;
	overflow: hidden;
}

.apple-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.apple-wrapper img {
	height: auto;
	width: auto;
	max-width: 100%;
	max-height: 100%;
	object-fit: cover;
	border-radius: 15px;
}

.apple-overlay {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	font-size: calc(4vw + 4vh + 2vmin);
	font-weight: bold;
	pointer-events: none;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

@media (min-width: 600px) {
	.apple-list {
		grid-template-columns: repeat(3, 1fr);
	}

}

@media (min-width: 1200px) {
	.apple-list {
		grid-template-columns: repeat(5, 1fr);
	}

	.apple-overlay {
		font-size: calc(2vw + 4vh + 2vmin);
	}
}

.img-footer {
	--tw-translate-y: 50%;
}